<ion-header>
  <ion-toolbar>
    <ion-title>
      Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>2019</ion-card-subtitle>
        <ion-card-title>Janeiro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/avatars/profile-adriano.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Adriano</h2>
            <h3>Conta de luz: R$ 150,00</h3>
            <p>
              Pago em 05/08/2019
            </p>
          </ion-label>
          <ion-icon name="checkmark-circle" color="success" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/avatars/profile-pigzaum.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Pigzaum</h2>
            <h3>Conta de Gás: R$ 20,00</h3>
            <h3>Conta de Internet: R$ 70,00</h3>
            <p>
              Pago em 05/08/2019
            </p>
          </ion-label>
          <ion-icon name="checkmark-circle" color="success" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/avatars/profile-gabriel.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Gabriel</h2>
            <h3>Aluguel: R$ 1500,00</h3>
            <p>
              Pago em 05/08/2019
            </p>
          </ion-label>
          <ion-icon name="checkmark-circle" color="success" slot="end"></ion-icon>
        </ion-item>
        <div class="group-button" style="text-align: right;">
          <ion-button fill="clear" (click)="presentModal()">
            <ion-icon slot="start" name="list-box"></ion-icon>
            Balanço
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
