<ion-header>
  <ion-toolbar>
    <ion-title>billingList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table width="100">
    <thead>
      <tr>
        <th>Janeiro</th>
        <th>Valor</th>
        <th>Adriano</th>
        <th>Pigzaum</th>
        <th>Gabriel</th>
      </tr>
    </thead>
    <tr>
      <td class="right">Aluguel</td>
      <td>R$ 1500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
    </tr>
    <tr>
      <td class="right">Gás</td>
      <td>R$ 1500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
    </tr>
    <tr>
      <td class="right">Luz</td>
      <td>R$ 1500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
    </tr>
    <tr>
      <td class="right">Internet</td>
      <td>R$ 1500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
      <td>R$ 500,00</td>
    </tr>
    <tr>
      <td class="right"><strong>Total Mês</strong></td>
      <td><strong>R$ 6000,00</strong></td>
      <td><strong>R$ 1500,00</strong></td>
      <td><strong>R$ 1500,00</strong></td>
      <td><strong>R$ 1500,00</strong></td>
    </tr>
    <tr>
      <td></td>
      <td class="right"><strong>Pagou</strong></td>
      <td style="color: #da563e;">R$ 1500,00</td>
      <td style="color: #da563e;">R$ 1500,00</td>
      <td style="color: #da563e;">R$ 1500,00</td>
    </tr>
    <tr>
      <td></td>
      <td class="right"><strong>A receber</strong></td>
      <td style="color: #09df97;">R$ 1500,00</td>
      <td style="color: #09df97;">R$ 1500,00</td>
      <td style="color: #09df97;">R$ 1500,00</td>
    </tr>
  </table>
</ion-content>
